{% extends 'base.html' %}

{% block content %}
{% load static %}
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'index' %}">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<form id="form" method="POST">
						<div class="col-md-7">
							<!-- Billing Details -->
					
							<div class="billing-details" id="user-info">
								<div class="section-title">
									<h3 class="title">Billing address</h3>
								</div>
								<div class="form-group">
									<input class="input" type="text" name="name" placeholder="Name" required>
								</div>
					
								<div class="form-group">
									<input class="input" type="email" name="email" placeholder="Email" required>
								</div>
					
							</div>
							<!-- /Billing Details -->
					
							<!-- Shiping Details -->
							<div class="shiping-details">
								<div class="section-title">
									<h3 class="title">Shiping address</h3>
								</div>
								<div class="caption" id="shipping-info">
									<div class="form-group">
										<input class="input" type="text" name="address" placeholder="Address" required>
									</div>
									<div class="form-group">
										<input class="input" type="text" name="city" placeholder="City" required>
									</div>
									<div class="form-group">
										<input class="input" type="text" name="state" placeholder="State" required>
									</div>
									<div class="form-group">
										<input class="input" type="text" name="zipcode" placeholder="ZIP Code" required>
									</div>
								</div>
							</div>
							<hr>
							<!-- /Shiping Details -->
						</div>
					
						<!-- Order Details -->
						<div class="col-md-5 order-details">
							<div class="section-title text-center">
								<h3 class="title">Your Order</h3>
							</div>
							<div class="order-summary">
								<div class="order-col">
									<div><strong>PRODUCT</strong></div>
									<div><strong>TOTAL</strong></div>
								</div>
								<div class="order-products">
									{% for item in items %}
									<div class="order-col">
										<div>{{item.quantity}} x {{item.product.name}}</div>
										<div>${{item.get_total}}</div>
									</div>
									{% endfor %}
								</div>
								<div class="order-col">
									<div>Shipping</div>
									<div><strong>FREE</strong></div>
								</div>
								<div class="order-col">
									<div><strong>TOTAL</strong></div>
									<div><strong class="order-total">${{order.get_cart_total}} </strong></div>
								</div>
							</div>
							<input id="form-button" class="primary-btn order-submit" type="submit" value="Place order">
							<div class="box-element hidden" id="payment-info">
								<small>Paypal Options</small>
								<div id="paypal-button-container"></div>
								<!-- <button id="make-payment">Make payment</button> -->
								<button id="rzp-button1" class="btn btn-success btn-block" style="background-color: #7f00bf; text-size-adjust: 2rem;">RazorPay</button>
								<button id="cod" class="btn btn-success btn-block" style="background-color: #fc878d; text-size-adjust: 2rem;">Cash On Delivery</button>
							</div>
							

						</div>
						<!-- /Order Details -->
					</form>
					</div>
					<!-- /row -->
					</div>
					<!-- /container -->
					</div>
					<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
	var total ='{{order.get_cart_total}}'
	var options = {
		"key": "rzp_test_eMnSXZs7JW5fj7", // Enter the Key ID generated from the Dashboard
		"amount": total, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
		"currency": "USD",
		"name": "Acme Corp",
		"description": "Test Transaction",
		"image": "https://example.com/your_logo",
		"order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
		"handler": function (response){
			
			submitFormData()
		},
		"prefill": {
			"name": "Gaurav Kumar",
			"email": "gaurav.kumar@example.com",
			"contact": "9999999999"
		},
		"notes": {
			"address": "Razorpay Corporate Office"
		},
		"theme": {
			"color": "#F37254"
		}
	};
	var rzp1 = new Razorpay(options);
	document.getElementById('rzp-button1').onclick = function(e){
		rzp1.open();
		e.preventDefault();
	}
</script>

<script src="https://www.paypal.com/sdk/js?client-id=AZi4j3g6uXWwKJsugE1qJGc5yxB4-y6XoqDa8uNHO7iJ65YChtJV3bV9Nnm_wvuqt-LC6cT-Fp1MiPT0&currency=USD&disable-funding=card"></script>
	<script>
		// Render the PayPal button into #paypal-button-container
		var total = '{{order.get_cart_total}}'

		paypal.Buttons({
			
			// Set up the transaction
			createOrder: function(data, actions) {
				return actions.order.create({
					purchase_units: [{
						amount: {
							value: total
						}
					}]
				});
			},

			// Finalize the transaction
			onApprove: function(data, actions) {
				return actions.order.capture().then(function(details) {
					// Show a success message to the buyer
					// alert('Transaction completed by ' + details.payer.name.given_name + '!');
					submitFormData()
				});
			}


		}).render('#paypal-button-container');
	</script>

	<script type="text/javascript">
		var shipping = '{{order.shipping}}'
		var total = '{{order.get_cart_total}}'

		
		if (user != 'AnonymousUser'){
		 	document.getElementById('user-info').innerHTML = ''
		}

		if (shipping == 'False' && user != 'AnonymousUser'){
			//Hide entire form if user is logged in and shipping is false
			document.getElementById('form-wrapper').classList.add("hidden");
			//Show payment if logged in user wants to buy an item that does not require shipping
			document.getElementById('payment-info').classList.remove("hidden");
		}

		var form = document.getElementById('form')
		form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add("hidden");
			document.getElementById('payment-info').classList.remove("hidden");
			// submitFormData()
	    })

		
	    document.getElementById('cod').addEventListener('click', function(e){
	    	submitFormCod()
	    })
	    

	    function submitFormData(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'address':null,
				'city':null,
				'state':null,
				'zipcode':null,
			}

			if (shipping != 'False'){
	    		shippingInfo.address = form.address.value
		    	shippingInfo.city = form.city.value
		    	shippingInfo.state = form.state.value
				shippingInfo.zipcode = form.zipcode.value
	    	}

	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.name.value
	    		userFormData.email = form.email.value
	    	}

	    	console.log('Shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');  

				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

				window.location.href = "{% url 'ordersview' %}"

				})
	    }
	    function submitFormCod(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'address':null,
				'city':null,
				'state':null,
				'zipcode':null,
			}

			if (shipping != 'False'){
	    		shippingInfo.address = form.address.value
		    	shippingInfo.city = form.city.value
		    	shippingInfo.state = form.state.value
				shippingInfo.zipcode = form.zipcode.value
	    	}

	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.name.value
	    		userFormData.email = form.email.value
	    	}

	    	console.log('Shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/cod/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Order Placed');  

				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

				window.location.href = "{% url 'index' %}"
				

				})
	    }
	</script>


{% endblock %}

