{% extends 'base.html' %}

{% block content %}
{% load static %}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">New Products</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#all">All</a></li>
									<li><a data-toggle="tab" href="#Laptop">Laptops</a></li>
									<li><a data-toggle="tab" href="#Smartphone">Smartphones</a></li>
									<li><a data-toggle="tab" href="#Accessories">Accessories</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					
					<div class="col-md-12">
						<div class="row">
							
							<div class="products-tabs">
							
								<!-- tab -->
								<div id="all" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										{% for lap in productitems %}
										<div class="product">
											<div class="product-img">
												<img src="{{lap.ImageURL}}" style="width: 24rem;height: 16rem;">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{lap.category}}</p>
												<h3 class="product-name"><a href="{% url 'productview' lap.id %}">{{lap.name}}</a></h3>
												<h4 class="product-price">${{lap.newprice}}<del class="product-old-price">(${{lap.oldprice}})</del></h4>
				
											</div>
											<div class="add-to-cart">
												<button data-product="{{lap.id}}" data-action="add" class="add-to-cart-btn update-cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>

								<div id="Laptop" class="tab-pane">
									<div class="products-slick" data-nav="#slick-nav-4">
										<!-- product -->
										{% for lap in Laptop %}
										<div class="product">
											<div class="product-img">
												<img src="{{lap.ImageURL}}" style="width: 24rem;height: 16rem;">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{lap.category}}</p>
												<h3 class="product-name"><a href="{% url 'productview' lap.id %}">{{lap.name}}</a></h3>
												<h4 class="product-price">${{lap.newprice}}<del class="product-old-price">(${{lap.oldprice}})</del></h4>
				
											</div>
											<div class="add-to-cart">
												<button data-product="{{lap.id}}" data-action="add" class="add-to-cart-btn update-cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-4" class="products-slick-nav"></div>
								</div>

								<div id="Smartphone" class="tab-pane">
									<div class="products-slick" data-nav="#slick-nav-3">
										<!-- product -->
										{% for lap in Smartphone %}
										<div class="product">
											<div class="product-img">
												<img src="{{lap.ImageURL}}" style="width: 24rem;height: 16rem;">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{lap.category}}</p>
												<h3 class="product-name"><a href="{% url 'productview' lap.id %}">{{lap.name}}</a></h3>
												<h4 class="product-price">${{lap.newprice}}<del class="product-old-price">(${{lap.oldprice}})</del></h4>
				
											</div>
											<div class="add-to-cart">
												<button data-product="{{lap.id}}" data-action="add" class="add-to-cart-btn update-cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-3" class="products-slick-nav"></div>
								</div>

								<div id="Accessories" class="tab-pane">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										{% for lap in Accessories %}
										<div class="product">
											<div class="product-img">
												<img src="{{lap.ImageURL}}" style="width: 24rem;height: 16rem;">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{lap.category}}</p>
												<h3 class="product-name"><a href="{% url 'productview' lap.id %}">{{lap.name}}</a></h3>
												<h4 class="product-price">${{lap.newprice}}<del class="product-old-price">(${{lap.oldprice}})</del></h4>
				
											</div>
											<div class="add-to-cart">
												<button data-product="{{lap.id}}" data-action="add" class="add-to-cart-btn update-cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>

								<!-- /tab -->
								
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		<div id="hot-deal" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								<li>
									<div>
										<h3>05</h3>
										<span>Days</span>
									</div>
								</li>
								<li>
									<div>
										<h3>20</h3>
										<span>Hours</span>
									</div>
								</li>
								<li>
									<div>
										<h3>28</h3>
										<span>Mins</span>
									</div>
								</li>
								<li>
									<div>
										<h3>60</h3>
										<span>Secs</span>
									</div>
								</li>
							</ul>
							<h2 class="text-uppercase">hot deal this week</h2>
							<p>New Collection Up to 50% OFF</p>
							<a class="primary-btn cta-btn" href="">Shop now</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Top Selling</h3>
							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a data-toggle="tab" href="#al">All</a></li>
									<li><a data-toggle="tab" href="#Lap">Laptops</a></li>
									<li><a data-toggle="tab" href="#Smart">Smartphones</a></li>
									<li><a data-toggle="tab" href="#Access">Accessories</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					
					<div class="col-md-12">
						<div class="row">
							
							<div class="products-tabs">
							
								<!-- tab -->
								<div id="al" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-6">
										<!-- product -->
										{% for lap in productitems %}
										<div class="product">
											<div class="product-img">
												<img src="{{lap.ImageURL}}" style="width: 24rem;height: 16rem;">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{lap.category}}</p>
												<h3 class="product-name"><a href="{% url 'productview' lap.id %}">{{lap.name}}</a></h3>
												<h4 class="product-price">${{lap.newprice}}<del class="product-old-price">(${{lap.oldprice}})</del></h4>
				
											</div>
											<div class="add-to-cart">
												<button data-product="{{lap.id}}" data-action="add" class="add-to-cart-btn update-cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-6" class="products-slick-nav"></div>
								</div>

								<div id="Lap" class="tab-pane">
									<div class="products-slick" data-nav="#slick-nav-7">
										<!-- product -->
										{% for lap in Laptop %}
										<div class="product">
											<div class="product-img">
												<img src="{{lap.ImageURL}}" style="width: 24rem;height: 16rem;">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{lap.category}}</p>
												<h3 class="product-name"><a href="{% url 'productview' lap.id %}">{{lap.name}}</a></h3>
												<h4 class="product-price">${{lap.newprice}}<del class="product-old-price">(${{lap.oldprice}})</del></h4>
				
											</div>
											<div class="add-to-cart">
												<button data-product="{{lap.id}}" data-action="add" class="add-to-cart-btn update-cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-7" class="products-slick-nav"></div>
								</div>

								<div id="Smart" class="tab-pane">
									<div class="products-slick" data-nav="#slick-nav-8">
										<!-- product -->
										{% for lap in Smartphone %}
										<div class="product">
											<div class="product-img">
												<img src="{{lap.ImageURL}}" style="width: 24rem;height: 16rem;">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{lap.category}}</p>
												<h3 class="product-name"><a href="{% url 'productview' lap.id %}">{{lap.name}}</a></h3>
												<h4 class="product-price">${{lap.newprice}}<del class="product-old-price">(${{lap.oldprice}})</del></h4>
				
											</div>
											<div class="add-to-cart">
												<button data-product="{{lap.id}}" data-action="add" class="add-to-cart-btn update-cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-8" class="products-slick-nav"></div>
								</div>

								<div id="Access" class="tab-pane">
									<div class="products-slick" data-nav="#slick-nav-9">
										<!-- product -->
										{% for lap in Accessories %}
										<div class="product">
											<div class="product-img">
												<img src="{{lap.ImageURL}}" style="width: 24rem;height: 16rem;">
												<div class="product-label">
													<span class="sale">-30%</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{lap.category}}</p>
												<h3 class="product-name"><a href="{% url 'productview' lap.id %}">{{lap.name}}</a></h3>
												<h4 class="product-price">${{lap.newprice}}<del class="product-old-price">(${{lap.oldprice}})</del></h4>
				
											</div>
											<div class="add-to-cart">
												<button data-product="{{lap.id}}" data-action="add" class="add-to-cart-btn update-cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-9" class="products-slick-nav"></div>
								</div>

								<!-- /tab -->
								
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Best selling Laptop</h4>
							<div class="section-nav">
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-3">
							<div>
								<!-- product widget -->
								{% for product in Laptop|slice:":2" %}
							

								<div class="product-widget">
									<div class="product-img">
										<img src="{{product.ImageURL}}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">{{product.category}}</p>
										<h3 class="product-name"><a href="{% url 'productview' product.id %}">{{product.name}}</a></h3>
										<h4 class="product-price">${{product.newprice}}<del class="product-old-price">(${{product.oldprice}})</del></h4>
									</div>
								</div>
									
								{% endfor %}
								<!-- /product widget -->
								
							</div>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Best selling Smartphone</h4>
							<div class="section-nav">
								<div id="slick-nav-4" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-4">
							<div>
								<!-- product widget -->
								{% for product in Smartphone|slice:":2" %}
								<div class="product-widget">
									<div class="product-img">
										<img src="{{product.ImageURL}}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">{{product.category}}</p>
										<h3 class="product-name"><a href="{% url 'productview' product.id %}">{{product.name}}</a></h3>
										<h4 class="product-price">${{product.newprice}}<del class="product-old-price">(${{product.oldprice}})</del></h4>
									</div>
								</div>
								{% endfor %}
								<!-- /product widget -->

							</div>
						</div>
					</div>

					<div class="clearfix visible-sm visible-xs"></div>

					<div class="col-md-4 col-xs-6">
						<div class="section-title">
							<h4 class="title">Best selling Accessory</h4>
							<div class="section-nav">
								<div id="slick-nav-5" class="products-slick-nav"></div>
							</div>
						</div>

						<div class="products-widget-slick" data-nav="#slick-nav-5">
							<div>
								<!-- product widget -->
								{% for product in Accessories|slice:":2" %}
								<div class="product-widget">
									<div class="product-img">
										<img src="{{product.ImageURL}}" alt="">
									</div>
									<div class="product-body">
										<p class="product-category">{{product.category}}</p>
										<h3 class="product-name"><a href="{% url 'productview' product.id %}">{{product.name}}</a></h3>
										<h4 class="product-price">${{product.newprice}}<del class="product-old-price">(${{product.oldprice}})</del></h4>
									</div>
								</div>
								{% endfor %}
								<!-- /product widget -->

							</div>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->


{% endblock %}
