{% extends 'adminbase.html' %}

{% block content %}
{% load static %}

  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Search form -->
          <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
            <div class="form-group mb-0">
              <div class="input-group input-group-alternative input-group-merge">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search" type="text">
              </div>
            </div>
            <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
              aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </form>
  
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center  ml-md-auto ">
  
          </ul>
  
          <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="{% static 'adassets/img/theme/team-4.jpg' %}">
                  </span>
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">Thanseef</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu  dropdown-menu-right ">
  
                <div class="dropdown-divider"></div>
                <a href="{{'adminout'}}" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Order List</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="{{'adminds'}}"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="">Order</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Orders</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="{% url 'adorderitem' %}" class="btn btn-sm btn-neutral">OrderItems</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Orders</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table id="myTable" class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Order_ID</th>
                    <th scope="col" class="sort" data-sort="budget">Customer Name</th>
                    <th scope="col" class="sort" data-sort="status">Order_Date</th>
                    <th scope="col">Total</th>
                    <th scope="col" class="sort" data-sort="completion">Status</th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for order in orders %}
                  {% if order.complete == True %}
                  <tr>
                    <th scope="row">{{order.id}}</th>
                    <td>{{order.customer}}</td>
                    <td>{{order.date_orderd}}</td>
                    <td>{{order.get_cart_total}}</td>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="actual_status btn btn-info btn-md">{{order.order_status}}</button>
                        <button type="button" class="btn btn-info btn-md dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    
                        <span class="sr-only">Toggle Dropdown</span>
                        </button>
                            <div class="dropdown-menu">
                                {% if order.order_status == 'Pending' %}
                                  <button  data-id="{{order.id}}"  data-status="Shipped" class="change_status dropdown-item" >Shipped</button>
                                  <button  data-id="{{order.id}}"  data-status="Complete" class="change_status dropdown-item" >Complete</button>    
                                  <button data-id="{{order.id}}"  data-status="Out for delivery" class="change_status dropdown-item" >Out for delivery</button>
                                {% elif order.order_status == 'Shipped' %}
                                  <button  data-id="{{order.id}}"  data-status="Pending" class="change_status dropdown-item" >Pending</button>
                                  <button  data-id="{{order.id}}"  data-status="Complete" class="change_status dropdown-item" >Complete</button>    
                                  <button data-id="{{order.id}}"  data-status="Out for delivery" class="change_status dropdown-item" >Out for delivery</button>
                                {% elif order.order_status == 'Complete' %}
                                  <button  data-id="{{order.id}}"  data-status="Shipped" class="change_status dropdown-item" >Shipped</button>
                                  <button  data-id="{{order.id}}"  data-status="Pending" class="change_status dropdown-item" >Pending</button>    
                                  <button data-id="{{order.id}}"  data-status="Out for delivery" class="change_status dropdown-item" >Out for delivery</button>
                                {% elif order.order_status == 'Out for delivery' %}
                                  <button  data-id="{{order.id}}"  data-status="Shipped" class="change_status dropdown-item" >Shipped</button>
                                  <button  data-id="{{order.id}}"  data-status="Complete" class="change_status dropdown-item" >Complete</button>    
                                  <button data-id="{{order.id}}"  data-status="Pending" class="change_status dropdown-item" >Pending</button>
                                {%endif%}
                            </div>
                    </div>  
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  
      /*var btn = document.getElementById('order_status1')
      btn.addEventListener('click',function(){
          alert('ok')
          var top = document.getElementById('actual_status')
          top.innerHTML = 'changed'
      })*/
var statusBtns = document.getElementsByClassName('change_status')

for(var i = 0; i < statusBtns.length; i++){
  statusBtns[i].addEventListener('click', function(){
  console.log('value of I:',i)
  var orderId = this.dataset.id
  var status = this.dataset.status
  console.log('orderId:', orderId, 'status :', status)
  var top = document.getElementsByClassName('actual_status')
  top.innerHTML = status
  location.reload()

  $.ajax({
      url: '/update_order/',
      type: 'POST',
      data: {
        order_id: orderId,
        order_status:status,
        csrfmiddlewaretoken: csrftoken
      },
    //   success: function(result){
    // $(".actual_status").html(status);
    //   }
  });
  })
}
</script>  

{% endblock %}