{% extends 'adminbase.html' %}

{% block content %}
{% load static %}

  <div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Search form -->
          <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
            <div class="form-group mb-0">
              <div class="input-group input-group-alternative input-group-merge">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Search" type="text">
              </div>
            </div>
            <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
              aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </form>
  
          <!-- Navbar links -->
          <ul class="navbar-nav align-items-center  ml-md-auto ">
  
          </ul>
  
          <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="{% static 'adassets/img/theme/team-4.jpg' %}">
                  </span>
                  <div class="media-body  ml-2  d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">Thanseef</span>
                  </div>
                </div>
              </a>
              <div class="dropdown-menu  dropdown-menu-right ">
  
                <div class="dropdown-divider"></div>
                <a href="{{'adminout'}}" class="dropdown-item">
                  <i class="ni ni-user-run"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Order List</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="{{'adminds'}}"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="">Order</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Orders</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="{% url 'adorderitem' %}" class="btn btn-sm btn-neutral">OrderItems</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Orders</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Order_ID</th>
                    <th scope="col" class="sort" data-sort="budget">Customer Name</th>
                    <th scope="col" class="sort" data-sort="status">Order_Date</th>
                    <th scope="col">Total</th>
                    <th scope="col" class="sort" data-sort="completion">Status</th>
                    <th scope="col" class="text-right" style="padding-right: 53px;">Action</th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for order in order %}
                  {% if order.complete == True %}
                  <form action="{% url 'approve' order.id %}" method="POST">
                    {% csrf_token %}
                  <tr>
                    <th scope="row">{{order.id}}</th>
                    <td>{{order.customer}}</td>
                    <td>{{order.date_orderd}}</td>
                    <td>{{order.get_cart_total}}</td>
                    <td class="budget">
                      <select id="course" name="category" class="input-xlarge">
                        <option>{{order.order_status}}</option>
                        <option>Shipped</option>
                        <option>Complete</option>
                        <option>Out for delivery</option>
                    </select>
                    </td>
                      <td class="text-right">
                      <button type="submit" class="btn btn-info btn-md">Update</button>
                      </td>
                  </tr>
                  </form>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}