{% extends 'base.html' %}

{% block content %}
{% load static %}

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->

					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{prodview.ImageURLFULL}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{prodview.ImageURLFULLTWO}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{prodview.ImageURLFULLTT}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{prodview.ImageURLFULLTF}}" alt="">
							</div>
						</div>
					</div>

					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{{prodview.ImageURLFULL}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{prodview.ImageURLFULLTWO}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{prodview.ImageURLFULLTT}}" alt="">
							</div>
							<div class="product-preview">
								<img src="{{prodview.ImageURLFULLTF}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{prodview.name}}</h2>
							
							<div>
								<h3 class="product-price">${{prodview.newprice}} <del class="product-old-price">${{prodview.oldprice}}</del></h3>
								<span class="product-available">( {{prodview.product_quantity}} )  In Stock</span>
							</div>
							<p>{{prodview.features}}</p>

							<div class="add-to-cart">
								<button data-product="{{prodview.id}}" data-action="add" class="add-to-cart-btn update-cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>

							<ul class="product-links">
								<li>Category:</li>
								<li><a href="#">{{prodview.category}}</a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
											<p>{{prodview.description}}</p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

{% endblock %}