{% extends 'adminbase.html' %}

{% block content %}
{% load static %}


    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Product List</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href=""><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="">Product</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="{% url 'addproduct' %}" class="btn btn-sm btn-neutral">Add Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h2 class="mb-0">Update Product</h2>
                    </div>
                    <!-- Light table -->
                    <form runat="server" class="form-horizontal" action="{% url 'update' product.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 64px;"
                                    for="full_name">Product
                                    Name</label>
                                <input id="full_name" name="name" placeholder="Productname"
                                    value="{{product.name}}" class="input-xlarge" type="text">
                            </div>
                        </div>
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 74px;" for="course">Product
                                    Type</label>
                                <select id="course" name="category" class="input-xlarge">
                                    <option>{{product.category}}</option>
                                    <option>Laptop</option>
                                    <option>Smartphone</option>
                                    <option>Accessories</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 44px;">Product_Quantity</label>
                                <input name="product_quantity" type="text" value="{{product.product_quantity}}">
                            </div>
                        </div>
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 46px;">Product Features</label>
                                <textarea id="Address" name="features">{{product.features}}</textarea>
                            </div>
                        </div>
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 26px;">Product Description</label>
                                <textarea id="Address" name="description">{{product.description}}</textarea>
                            </div>
                        </div>

                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 136px;">Price</label>
                                <input id="mother_name" name="oldprice" placeholder="Old_price" class="input-xlarge"
                                    type="text" value="{{product.oldprice}}">

                            </div>
                        </div>
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" for="mother_name" style="padding-right: 67px;">After
                                    discount
                                </label>
                                <input id="mother_name" name="newprice" placeholder="New_price" class="input-xlarge"
                                    type="text" value="{{product.newprice}}">
                            </div>
                        </div>

                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                              <label class="control-label" for="mother_name" style="padding-right: 85px;">Path Image
                                <a href="{{product.image_url}}" style="text-size-adjust: 2rem;"></a>
                              </label>
                              <input id="mother_name" name="myfile" placeholder="Select Image" class="input-xlarge" type="file" onchange="readURL(this);">
                              <img id="blah" alt="your image" src="/image/{{ product.image_url }}" style="width: 10rem; height: 6rem;">
                            </div>
                        </div>
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                              <label class="control-label" for="mother_name" style="padding-right: 85px;">Full ViewImage_1
                              </label>
                              <input id="mother_name" name="fileone" placeholder="Select Image" class="input-xlarge" type="file">
                            </div>
                          </div>
                          <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                              <label class="control-label" for="mother_name" style="padding-right: 85px;">Full ViewImage_2
                              </label>
                              <input id="mother_name" name="filetwo" placeholder="Select Image" class="input-xlarge" type="file">
                            </div>
                          </div>
                          <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                              <label class="control-label" for="mother_name" style="padding-right: 85px;">Full ViewImage_3
                              </label>
                              <input id="mother_name" name="filethree" placeholder="Select Image" class="input-xlarge" type="file">
                            </div>
                          </div>
                          <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                              <label class="control-label" for="mother_name" style="padding-right: 85px;">Full ViewImage_4
                              </label>
                              <input id="mother_name" name="filefour" placeholder="Select Image" class="input-xlarge" type="file">
                            </div>
                          </div>


                        <!-- Button -->
                        <div class="control-group" style="margin: 40px;">
                            <label class="control-label" for="submit"></label>
                            <div class="controls" style=" padding-left: 384px;">
                                <button type="submit" class="btn btn-info btn-md" data-target="#myModal">Save</button>
                            </div>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      
      reader.onload = function(e) {
        $('#blah').attr('src', e.target.result);
      }
      
      reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
  }
  
  $("#imgInp").change(function() {
    readURL(this);
  });
  </script>
{% endblock %}