{% extends 'adminbase.html' %}

{% block content %}
{% load static %}

<div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Search form -->
                <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                    <div class="form-group mb-0">
                        <div class="input-group input-group-alternative input-group-merge">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" placeholder="Search" type="text">
                        </div>
                    </div>
                    <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </form>

                <!-- Navbar links -->
                <ul class="navbar-nav align-items-center  ml-md-auto ">

                </ul>

                <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder" src="{% static 'adassets/img/theme/team-4.jpg' %}">
                                </span>
                                <div class="media-body  ml-2  d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">Thanseef</span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu  dropdown-menu-right ">

                            <div class="dropdown-divider"></div>
                            <a href="{% url 'adminout' %}" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Product List</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href=""><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="">Product</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="{% url 'addproduct' %}" class="btn btn-sm btn-neutral">Add Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h2 class="mb-0">Update Product</h2>
                    </div>
                    <!-- Light table -->
                    <form runat="server" class="form-horizontal" action="{% url 'update' product.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 64px;"
                                    for="full_name">Product
                                    Name</label>
                                <input id="full_name" name="name" placeholder="Productname"
                                    value="{{product.name}}" class="input-xlarge" type="text">
                            </div>
                        </div>
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 74px;" for="course">Product
                                    Type</label>
                                <select id="course" name="category" class="input-xlarge">
                                    <option>{{product.category}}</option>
                                    <option>Laptop</option>
                                    <option>Smartphone</option>
                                    <option>Accessories</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 44px;">Product_Quantity</label>
                                <input name="product_quantity" type="text" value="{{product.product_quantity}}">
                            </div>
                        </div>
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 46px;">Product Features</label>
                                <textarea id="Address" name="features">{{product.features}}</textarea>
                            </div>
                        </div>
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 26px;">Product Description</label>
                                <textarea id="Address" name="description">{{product.description}}</textarea>
                            </div>
                        </div>

                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" style="padding-right: 136px;">Price</label>
                                <input id="mother_name" name="oldprice" placeholder="Old_price" class="input-xlarge"
                                    type="text" value="{{product.oldprice}}">

                            </div>
                        </div>
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                                <label class="control-label" for="mother_name" style="padding-right: 67px;">After
                                    discount
                                </label>
                                <input id="mother_name" name="newprice" placeholder="New_price" class="input-xlarge"
                                    type="text" value="{{product.newprice}}">
                            </div>
                        </div>

                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                              <label class="control-label" for="mother_name" style="padding-right: 85px;">Path Image
                                <a href="{{product.image_url}}" style="text-size-adjust: 2rem;"></a>
                              </label>
                              <input id="mother_name" name="myfile" placeholder="Select Image" class="input-xlarge" type="file" onchange="readURL(this);">
                              <img id="blah" alt="your image" src="/image/{{ product.image_url }}" style="width: 10rem; height: 6rem;">
                              <!-- <img id="blah" src="https://cdn1.vectorstock.com/i/1000x1000/14/80/doctor-web-icon-therapist-avatar-vector-18531480.jpg"> -->
                            </div>
                        </div>
                        <main class="page">
                            <h2>Crop test</h2>
                            <!-- input file -->
                            <div class="box">
                                <input type="file" id="file-input">
                            </div>
                            <!-- leftbox -->
                            <div class="box-2">
                                <div class="result"></div>
                            </div>
                            <!--rightbox-->
                            <div class="box-2 img-result hide">
                                <!-- result of crop -->
                                <img class="cropped" src="" alt="">
                            </div>
                            <!-- input file -->
                            <div class="box">
                                <div class="options hide">
                                    <label> Width</label>
                                    <input type="number" class="img-w" value="300" min="100" max="1200" />
                                </div>
                                <!-- save btn -->
                                <button class="btn save hide">Save</button>
                                <!-- download btn -->
                                <a href="" class="btn download hide">Upload</a>
                            </div>
                        </main>
                        <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                              <label class="control-label" for="mother_name" style="padding-right: 85px;">Full ViewImage_1
                              </label>
                              <input id="mother_name" name="fileone" placeholder="Select Image" class="input-xlarge" type="file">
                            </div>
                          </div>
                          <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                              <label class="control-label" for="mother_name" style="padding-right: 85px;">Full ViewImage_2
                              </label>
                              <input id="mother_name" name="filetwo" placeholder="Select Image" class="input-xlarge" type="file">
                            </div>
                          </div>
                          <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                              <label class="control-label" for="mother_name" style="padding-right: 85px;">Full ViewImage_3
                              </label>
                              <input id="mother_name" name="filethree" placeholder="Select Image" class="input-xlarge" type="file">
                            </div>
                          </div>
                          <div class="control-group" style="margin: 40px;">
                            <div class="controls" style=" padding-left: 67px;">
                              <label class="control-label" for="mother_name" style="padding-right: 85px;">Full ViewImage_4
                              </label>
                              <input id="mother_name" name="filefour" placeholder="Select Image" class="input-xlarge" type="file">
                            </div>
                          </div>


                        <!-- Button -->
                        <div class="control-group" style="margin: 40px;">
                            <label class="control-label" for="submit"></label>
                            <div class="controls" style=" padding-left: 384px;">
                                <button type="submit" class="btn btn-info btn-md" data-target="#myModal">Save</button>
                            </div>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      
      reader.onload = function(e) {
        $('#blah').attr('src', e.target.result);
      }
      
      reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
  }
  
  $("#imgInp").change(function() {
    readURL(this);
  });
  </script>

<style>
.page {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.box {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.options label,
.options input{
	width:8em;
	padding:0.5em 1em;
}
.btn{
	background:white;
	color:black;
	border:1px solid black;
	padding: 0.5em 1em;
	text-decoration:none;
	margin:0.8em 0.3em;
	display:inline-block;
	cursor:pointer;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
}

</style>
<script>
// vars
let result = document.querySelector('.result'),
img_result = document.querySelector('.img-result'),
img_w = document.querySelector('.img-w'),
img_h = document.querySelector('.img-h'),
options = document.querySelector('.options'),
save = document.querySelector('.save'),
cropped = document.querySelector('.cropped'),
dwn = document.querySelector('.download'),
upload = document.querySelector('#file-input'),
cropper = '';

// on change show image with crop options
upload.addEventListener('change', (e) => {
  if (e.target.files.length) {
		// start file reader
    const reader = new FileReader();
    reader.onload = (e)=> {
      if(e.target.result){
				// create new image
				let img = document.createElement('img');
				img.id = 'image';
				img.src = e.target.result
				// clean result before
				result.innerHTML = '';
				// append new image
        result.appendChild(img);
				// show save btn and options
				save.classList.remove('hide');
				options.classList.remove('hide');
				// init cropper
				cropper = new Cropper(img);
      }
    };
    reader.readAsDataURL(e.target.files[0]);
  }
});

// save on click
save.addEventListener('click',(e)=>{
  e.preventDefault();
  // get result to data uri
  let imgSrc = cropper.getCroppedCanvas({
		width: img_w.value // input value
	}).toDataURL();
  // remove hide class of img
  cropped.classList.remove('hide');
	img_result.classList.remove('hide');
	// show image cropped
  cropped.src = imgSrc;
  dwn.classList.remove('hide');
  dwn.download = 'imagename.png';
  dwn.setAttribute('href',imgSrc);
});
</script>
{% endblock %}