{% extends 'adminbase.html' %}

{% block content %}
{% load static %}

    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">User List</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="{{'adminds'}}"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Users</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Users</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table id="myTable"  class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">ID</th>
                    <th scope="col" class="sort" data-sort="budget">User_Name</th>
                    <th scope="col" class="sort" data-sort="status">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col" class="sort" data-sort="completion">Join Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for user in user %}
                  <tr>
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.last_name}}</td>
                    <td>
                        {{user.date_joined}}
                    </td>
                    {% if user.is_active == True %}
                    <td>Active</td>	
                    {%else%}
                    <td>Blocked</td>
                    {%endif%}	
                      
                    <td>
                      <form class="form-inline" method="POST">
                        {% csrf_token %}
                        <a href="{%url 'userblock' user.id%}"  onclick="window.mytest('{{user}}')" data-id="{{user.username}}"  id="blockcheck{{user}}" data-id="" class="delete"><i class="fa fa-ban" aria-hidden="true" style="margin-right: 19px;"></i></a>
                        <a href="{% url 'userdel' user.id %}" onclick="window.mydelete('{{user}}')" data-id="{{user.username}}"  id="delcheck{{user}}" data-id="" class="delete"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
<!-- 							
                        <button type="submit" class="btn btn-info btn-md">Delete</button>
                        <input class="dropdown-item" type="submit" value="Delete Product" class="btn btn-info btn-md"> -->
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.mytest=function(user){
		var v= document.getElementById("blockcheck"+user)
		var productid = v.dataset.id
		var isValid =confirm("are you sure do you want to block/unblock the user  "+productid+ " ?");
		if(!isValid){
			event.preventDefault();
			alert("it wont be block");
		}
	}
	  window.mydelete=function(user){
		var v= document.getElementById("delcheck"+user)
		var productid = v.dataset.id
		var isValid =confirm("are you sure do you want delete user "+productid+" ?");
		if(!isValid){
			event.preventDefault();
			alert("it wont be delete");
		}
	}
    function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>
{% endblock %}